# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env/

# Environment files
.env
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Model and data files
*.pkl
*.h5
*.hdf5
*.joblib
*.ckpt
*.keras
model/*.zip

# PDFs and reports
*.pdf

# IDE settings
.vscode/
.idea/
