<header>
    <h1 data-aos="fade-down" data-aos-duration="1500" class="logo">HEALTFY-AI</h1>
    <nav>
        <a data-aos="fade-down" data-aos-duration="1500" href="{{ url_for('home') }}">HEALTHIFY-AI</a>
        <a data-aos="fade-down" data-aos-duration="2000" href="{{ url_for('about') }}">ABOUT</a>
        <a data-aos="fade-down" data-aos-duration="2500" href="{{ url_for('contact') }}">CONTACT</a>
    </nav>
    <a href="{{ url_for('loginPage') }}" data-aos="fade-down" data-aos-duration="1500" class="btn-signing">SIGNING</a>
</header>